version: "3.2"
services:
  svc_auth:
    build:
      context: ./svc_auth
      dockerfile: Dockerfile
    ports:
      - published: ${APP_PORT:-3000}
        target: 3000
    volumes:
      - ./svc_auth:/app
      - /app/node_modules
    environment:
      JWT_SECRET: tUC724CNsa5dGeSL2fmrLQrCDqvBawjCHnKaYTFtdbCsXFhufz
      APP_PORT: 3000

  svc_movie:
    build:
      context: ./svc_movie
      dockerfile: Dockerfile
    ports:
      - published: ${APP_PORT:-8000}
        target: 8000
    volumes:
      - ./svc_movie:/app
      - /app/node_modules
    environment:
      JWT_SECRET: tUC724CNsa5dGeSL2fmrLQrCDqvBawjCHnKaYTFtdbCsXFhufz
      MOVIES_LIMIT: 5
      DATABASE: mongodb://mongo:27017/svc_movie
      APP_PORT: 8000
    links:
      - mongo

  mongo:
    container_name: mongo
    image: mongo
    ports:
      - "27017:8001"
