version: "3.2"
services:
  app:
    command: node src/server.js
    build:
      context: ./services/auth
      dockerfile: Dockerfile
    ports:
      - published: 3000
        target: 3000
    volumes:
      - ./services/auth/:/app/
    environment:
      JWT_SECRET: secret

  movies:
#    command: node src/index.js
    build:
      context: ./services/movies/.
      dockerfile: Dockerfile
    depends_on:
      - mongo
    volumes:
      - ./services/movies/:/app/

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-db:/data/db
    ports:
      - '27017:27017'

volumes:
  mongo-db: