{
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "importOrderParserPlugins" : ["classProperties", "decorators-legacy", "typescript"],
        "importOrder": ["^@nest/(.*)$", "^@server/(.*)$", "^@app/(.*)$", "^[./]"],
        "importOrderSeparation": true,
        "importOrderSortSpecifiers": true
      }
    }
  ],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always"
}
